.container-stimulus {
  padding: 2rem;
}

* {
  background-color: #7b9acc;
  color: #fcf6ff;
  font-size: 1.2rem;
}

#rounded {
  border-radius: 1rem;
}

@media (max-width: 767.98px) {
  * {
    font-size: 1rem;
  }
}
